In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/25 13:30:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.createOrReplaceTempView('green')

In [4]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [6]:
df_green_revenue.repartition(15).write.parquet('data/report/revenue/green', mode='overwrite')

24/02/25 13:34:54 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/02/25 13:34:54 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/02/25 13:34:54 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/02/25 13:34:54 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/02/25 13:34:54 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [8]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.createOrReplaceTempView('yellow')

In [9]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [10]:
df_yellow_revenue.repartition(15).write.parquet('data/report/revenue/yellow', mode='overwrite')

24/02/25 13:36:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/02/25 13:36:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/02/25 13:36:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/02/25 13:36:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/02/25 13:36:40 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [12]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [13]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [14]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [15]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

24/02/25 13:42:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/02/25 13:42:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/02/25 13:42:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/02/25 13:42:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/02/25 13:42:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [16]:
df_join = spark.read.parquet('data/report/revenue/total')

In [17]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  22|              15.8|                   1|              NULL|                 NULL|
|2020-01-01 00:00:00|  35|            129.96|                   5|              NULL|                 NULL|
|2020-01-01 00:00:00|  40|168.97999999999996|                   8|             89.97|                    5|
|2020-01-01 00:00:00|  55|129.29000000000002|                   4|              NULL|                 NULL|
|2020-01-01 00:00:00|  65|            199.49|                  10| 409.3500000000001|                   19|
|2020-01-01 00:00:00|  72|             67.53|                   2|              NULL|                 NULL|
|2020-01-01 00:00:00|  95|202.20000000000005|                  15|               6.3|                    1|
|2020-01-01 00:00:00| 127|              NULL|                NULL|43.900000000000006|                    3|
|2020-01-01 00:00:00| 129| 273.2100000000001|                  19|            211.62|                   13|
|2020-01-01 00:00:00| 137|              NULL|                NULL| 2791.429999999998|                  172|
|2020-01-01 00:00:00| 167|             88.89|                   5|               9.8|                    1|
|2020-01-01 00:00:00| 192|              12.3|                   1|              NULL|                 NULL|
|2020-01-01 00:00:00| 213|             46.12|                   1|              71.3|                    2|
|2020-01-01 00:00:00| 222|              NULL|                NULL|             26.36|                    1|
|2020-01-01 00:00:00| 230|              NULL|                NULL|              24.8|                    1|
|2020-01-01 00:00:00| 234|              NULL|                NULL|  8815.86000000002|                  480|
|2020-01-01 00:00:00| 255| 666.3399999999999|                  28| 537.6600000000001|                   27|
|2020-01-01 00:00:00| 262|              NULL|                NULL|2239.5199999999986|                  149|
|2020-01-01 01:00:00|  20|             86.43|                   3|              78.6|                    2|
|2020-01-01 01:00:00|  45|              NULL|                NULL|            898.44|                   49|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [19]:
df_zones = spark.read.parquet('zones/')

In [22]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [23]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')

24/02/25 13:46:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/02/25 13:46:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/02/25 13:46:08 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/02/25 13:46:09 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/02/25 13:46:09 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [24]:
df_result.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|LocationID|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|2020-01-01 00:00:00|  22|              15.8|                   1|              NULL|                 NULL|        22| Brooklyn|    Bensonhurst West|   Boro Zone|
|2020-01-01 00:00:00|  35|            129.96|                   5|              NULL|                 NULL|        35| Brooklyn|         Brownsville|   Boro Zone|
|2020-01-01 00:00:00|  40|168.97999999999996|                   8|             89.97|                    5|        40| Brooklyn|     Carroll Gardens|   Boro Zone|
|2020-01-01 00:00:00|  55|129.29000000000002|                   4|              NULL|                 NULL|        55| Brooklyn|        Coney Island|   Boro Zone|
|2020-01-01 00:00:00|  65|            199.49|                  10| 409.3500000000001|                   19|        65| Brooklyn|Downtown Brooklyn...|   Boro Zone|
|2020-01-01 00:00:00|  72|             67.53|                   2|              NULL|                 NULL|        72| Brooklyn|East Flatbush/Rem...|   Boro Zone|
|2020-01-01 00:00:00|  95|202.20000000000005|                  15|               6.3|                    1|        95|   Queens|        Forest Hills|   Boro Zone|
|2020-01-01 00:00:00| 127|              NULL|                NULL|43.900000000000006|                    3|       127|Manhattan|              Inwood|   Boro Zone|
|2020-01-01 00:00:00| 129| 273.2100000000001|                  19|            211.62|                   13|       129|   Queens|     Jackson Heights|   Boro Zone|
|2020-01-01 00:00:00| 137|              NULL|                NULL| 2791.429999999998|                  172|       137|Manhattan|            Kips Bay| Yellow Zone|
|2020-01-01 00:00:00| 167|             88.89|                   5|               9.8|                    1|       167|    Bronx|  Morrisania/Melrose|   Boro Zone|
|2020-01-01 00:00:00| 192|              12.3|                   1|              NULL|                 NULL|       192|   Queens|     Queensboro Hill|   Boro Zone|
|2020-01-01 00:00:00| 213|             46.12|                   1|              71.3|                    2|       213|    Bronx|Soundview/Castle ...|   Boro Zone|
|2020-01-01 00:00:00| 222|              NULL|                NULL|             26.36|                    1|       222| Brooklyn|       Starrett City|   Boro Zone|
|2020-01-01 00:00:00| 230|              NULL|                NULL|              24.8|                    1|       230|Manhattan|Times Sq/Theatre ...| Yellow Zone|
|2020-01-01 00:00:00| 234|              NULL|                NULL|  8815.86000000002|                  480|       234|Manhattan|            Union Sq| Yellow Zone|
|2020-01-01 00:00:00| 255| 666.3399999999999|                  28| 537.6600000000001|                   27|       255| Brooklyn|Williamsburg (Nor...|   Boro Zone|
|2020-01-01 00:00:00| 262|              NULL|                NULL|2239.5199999999986|                  149|       262|Manhattan|      Yorkville East| Yellow Zone|
|2020-01-01 01:00:00|  20|             86.43|                   3|              78.6|                    2|        20|    Bronx|             Belmont|   Boro Zone|
|2020-01-01 01:00:00|  45|              NULL|                NULL|            898.44|                   49|        45|Manhattan|           Chinatown| Yellow Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [20]:
spark.stop()